.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
}

/* Table Header */
th {
  padding: 8px;
  border: 1px solid #ddd;
}

/* Table Body */
td {
  padding: 8px;
  border: 1px solid #ddd;
}